.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}